# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=proper_names  # Application name (snake_case recommended)

# =====================================================
# PORT OF
# =====================================================

# NUXTJS
PORT_OF_NUXTJS=3000

# NGINX
PORT_OF_NGINXE=80

# =====================================================
# PORT
# =====================================================

# NUXTJS APPLICATION
NUXTJS_WEBGUI_IO_PORT=3002

# NGINX SERVER
NGINXE_SERVER_FE_PORT=82
