# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example                    # Application name                 # snake_case

# =====================================================
# BACKEND SERVER
# =====================================================

# NESTJS_WEBAPI_IO_AUTH=NESTJS_WEBAPI_IO_AUTH
NESTJS_WEBAPI_IO_DATA=NESTJS_WEBAPI_IO_DATA

# =====================================================
# PORT
# =====================================================

NUXTJS_WEBAPI_IO_PORT=3001
NGINXE_SERVER_FE_PORT=81
