# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example                    # Application name                 # snake_case

# =====================================================
# BACKEND SERVER
# =====================================================

# NESTJS_WEBAPI_IO_AUTH=http://localhost:80
NESTJS_WEBAPI_IO_DATA=nginxe-server-be

# =====================================================
# PORT
# =====================================================

# DEFAULT PORT OF
PORT_OF_NUXTJS=3000
PORT_OF_NGINXE=80

# NESTJS APPLICATION
NUXTJS_WEBAPI_IO_PORT=3001

# NGINX SERVER
NGINXE_SERVER_FE_PORT=81
