# =====================================================
# APPLICATION CONFIGURATION
# =====================================================

APP_NAME=example                    # Application name                 # snake_case

# =====================================================
# CONFIG SERVER (configRS)
# =====================================================

MONGO_ADMIN_CONFIG_SERVER=MONGO_ADMIN_CONFIG_SERVER
MONGO_PASSWORD_CONFIG_SERVER=MONGO_PASSWORD_CONFIG_SERVER

# =====================================================
# PORT
# =====================================================

NESTJS_WEBAPI_IO_PORT=3000
NGINXE_SERVER_BE_PORT=80
